.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.filters  div {
  display: flex;
  gap: 10px;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group input {
  width: 250px;
}

.report {
  padding: 30px;
  border-radius: 5px;
  background-color: #e9f5f2; /* Same background color as appointment items */
  border: 1px solid #aed9c6; /* Same border style as appointment items */
  margin-bottom: 20px; /* Space between report and other elements */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  text-align: center;
}

.report  div {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.report p {
  margin: 5px 0; /* Space between paragraphs */
}

.report button {
  max-width: 200px;
}
